<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ asset('static/member/Css/bootstrap.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('static/member/Css/bootstrap-responsive.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('static/member/Css/style.css') }}" />
    <script type="text/javascript" src="{{ asset('static/member/Js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('static/member/Js/jquery.sorted.js') }}"></script>
    <script type="text/javascript" src="{{ asset('static/member/Js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('static/member/Js/ckform.js') }}"></script>
    <script type="text/javascript" src="{{ asset('static/member/Js/common.js') }}"></script>

    <style type="text/css">
        body {
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }


    </style>
</head>
<body>
<form class="form-inline definewidth m20" action="index.html" method="get">
 <button type="button" class="btn btn-success" id="addnew">新增用户</button>
</form>
<table class="table table-bordered table-hover definewidth m10" >
    <thead>
    <tr>
        <th>id</th>
        <th>姓名</th>
        <th>手机</th>
        <th>Email</th>
        <th>qq</th>
        <th>操作</th>
    </tr>
    </thead>
    {% for item in data %}
	     <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.username }}</td>
            <td>{{ item.mobile }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.qq }}</td>
            <td>
                  <a href="{{ path('member_edit', { 'id': item.id }) }}">编辑</a>
                  
            </td>
        </tr>
    {% endfor %}
</table>
		</body>
		</html>

<script>
    $(function () {
        
		$('#addnew').click(function(){

				window.location.href="{{ path('member_add') }}";
		 });


    });

	function del(id)
	{
		
		
		if(confirm("确定要删除吗？"))
		{
		
			var url = "{{ path('member_list') }}";
			
			window.location.href=url;		
		
		}
	
	
	
	
	}
</script>